@font-face {
    font-family: HT;
    src: url(../fonts/HTBaybarsDisplay-Regular.otf);
}

body {
    direction: rtl;
    font-family: HT;
    overflow-x: hidden;

}


.SectionTitle {
    color: #3B3077;
    font-size: 48px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90px;
}

.SectionTitle .Text {
    z-index: 100;
    display: block;
}

.SectionTitle .YellowCircle {
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.Paragraph {
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
    ;
}

.BlueText.disabled {
    color: rgba(59, 48, 119, 0.7);

}

.BlueText {
    color: rgb(59, 48, 119);
}

a {
    text-decoration: none !important;
}

/*************
*************
Navar
**************
**************/
nav.navbar {
    background-color: white;
}


nav.navbar .navbar-collapse .navbar-nav .nav-link {
    color: #3B3077;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
    width: fit-content;
    opacity: 0.6;
}

nav.navbar .navbar-collapse .navbar-nav .nav-link.active, nav.navbar .navbar-collapse .navbar-nav .nav-link:hover, nav.navbar .form-select:hover {
    color: #3B3077;
    position: relative;
    cursor: pointer;
    font-weight: 900;
    opacity: 1;


}

nav.navbar .navbar-toggler {
    color: #3B3077;
    border: none;
    box-shadow: none;
    font-size: 24px;
}

nav.navbar .ContactSartBtn {
    background-color: #EFD358;
    display: flex;
    height: 51px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: #3B3077;
    text-decoration: none;
    border-radius: 50px;
    transition: 0.3s ease all;
}

nav.navbar .ContactSartBtn img {
    width: 40px;
    transition: 0.3s ease all;

}

nav.navbar .ContactSartBtn:hover {
    background-color: #3B3077;
    color: white;
}

nav.navbar .ContactSartBtn:hover img {
    filter: brightness(0) invert(1);
}

/*************
*************
End Navar
**************
**************/


/*************
*************
Header
**************
**************/
header.header h1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

header.header h1 .HeaderTitle {
    font-size: 67px;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    color: #3B3077;
    z-index: 10000000;
    width: fit-content;
}

h1 .YellowCircle {
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

header.header h2 {
    color: #3b3077b5;
    font-size: 32px;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}


/*****
Carousel Header
*****/
.CarouselPart {
    height: 80vh;
    flex-direction: row-reverse;
    align-items: stretch;
    border-radius: 20px;
    overflow: hidden;
    position: relative;

}

.CarouselPart .CarouselItem {
    width: 8%;
    height: 100%;
    transition: width 0.5s ease;
}

.CarouselPart .CarouselItem.active {
    width: 76%;
}

.CarouselDots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.CarouselDots {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.CarouselDot {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.5;
}

.CarouselDot.active {
    opacity: 1;
}


/*************
*************
end Header
**************
**************/

/*************
*************
Blog Cards
**************
**************/
section.BlogCards .YellowCircle{
    left: 42%;
}
section.BlogCards .card {
    background-color: transparent;
    border: none;
}

section.BlogCards .card img {
    border-radius: 15px;
    width: 100%;
}

/*************
*************
end Blog Cards
**************
**************/


/*************
*************
Feedback
**************
**************/
section.Feedback .YellowCircle{
    left: 23%;
}
section.Feedback .GreyBox {
    border-radius: 8px;
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    flex: 1 0 0;
    height: 100%;
}

section.Feedback .GreyBox .BigText {
    font-size: 24px;
    font-weight: 800;
    line-height: normal;
}

section.Feedback .GreyBox .SmallText {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*************
*************
end Feedback
**************
**************/

/*************
*************
Estefsar
**************
**************/
section.Estefsar .YellowCircle{
    left: 40%;
}
section.Estefsar .ContactSartBtn {
    margin: auto;
    color: white;
    border-radius: 80px;
    background-color: #3B3077;
    text-align: center;
    padding: 7px 30px;
}
section.Estefsar .ContactSartBtn  img{
    filter: brightness(0) invert(1);
}
/*************
*************
end Estefsar
**************
**************/


/*************
*************
Our Partners
**************
**************/
section.Partners {
    background: #C5B2A3;
}

section.Partners .card {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.07);
    border-radius: none;
    border: none;
}

section.Partners .card .card-body .card-title {
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    color: #131313;
    padding-right: 20%;
}

section.Partners .card .card-body .card-text {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #494949;

}

section.Partners .card .card-body hr, section.BlogCards .card .card-body hr {
    background-color: #b7b7b7;
    border: 1px solid #b7b7b7;

    margin: 15px 0px;
    width: 100%;
}

section.Partners .card .card-body a, section.BlogCards .card .card-body a {
    font-weight: 800;
    font-size: 24px;
    line-height: 75px;
    color: #494949;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

section.Partners .card .card-body a img, section.BlogCards .card .card-body a img {
    transition: transform .7s ease-in-out;

}

section.Partners .card .card-body a:hover img, section.BlogCards .card .card-body a:hover img {
    transform: rotate(-360deg);
}

/*************
*************
End Our Partners
**************
**************/


/*************
*************
Documentations
**************
**************/
section.Documentations .IMGPart img, section.ArtSection .IMGPart img, section.Research .IMGPart img {
    width: 100%;
}

section.Documentations p.Paragraph, section.Documentations .Services ul li, section.ArtSection p.Paragraph, section.ArtSection .Services ul li, section.Research p.Paragraph, section.Research .Services ul li {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #494949;
    margin: auto;
    padding-right: 47px;

}

section.Documentations .TopPart p.Paragraph, section.ArtSection .TopPart p.Paragraph, section.Research .TopPart p.Paragraph {
    width: 75%;
    padding-right: 0px;
    text-align: center;

}

section.Documentations .Values .ParaTitle, section.ArtSection .Values .ParaTitle, section.Research .Values .ParaTitle {
    font-weight: 800;
    font-size: 32px;
    line-height: 150%;
    text-align: right;
}

section.Documentations .Services ul, section.ArtSection .Services ul, section.Research .Services ul {
    padding-right: 70px;

}

section.Documentations .Services ul li, section.ArtSection .Services ul li, section.Research .Services ul li {
    padding-right: 0px;
}

section.ArtSection .SartLogo {
    width: 86px !important;

}

section.ArtSection .ServicesLink {
    font-size: 24px;
    font-weight: 800;
    color: #4762B3;
    text-decoration: none;
    width: fit-content;
}

section.ArtSection .ServicesLink img {
    width: 46px;
    transition: 1s ease all;
}

section.ArtSection .ServicesLink:hover img {
    transform: rotate(-360deg);
}

/*************
*************
End Documentations
**************
**************/

/*************
*************
Sponsers
**************
**************/
section.Sponsers {
    overflow: hidden;
}

section.Sponsers .Pattern1 {
    position: absolute;
    top: -20%;
    right: -2%;
    z-index: 0;

}

section.Sponsers .Pattern2 {
    position: absolute;
    top: -20%;
    left: -2%;
    z-index: 0;
}

section.Sponsers .SponsersImg {
    z-index: 100;
    position: relative;
}

section.Sponsers .SponserDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.Sponsers .SponserDiv img {
    width: 50%;
}

section.Sponsers .SponserDiv.AnovaImg img {
    width: 80%;
}

/*************
*************
End Sponsers
**************
**************/


/*************
*************
Contact Us
**************
**************/
section.ContactU .formPart h1 {
    color: #34353A;
    font-size: 32px;
    font-weight: 800;
    line-height: 150%;
}

section.ContactU .formPart h6 {
    color: #494949;
    font-size: 20px;
    font-weight: 800;
}

section.ContactU .formPart form {
    width: 75%;
    margin-top: 30px;
}

section.ContactU .formPart form label.form-label {
    color: #131313;
    text-align: right;
    font-size: 20px;
    font-weight: 800;
}

section.ContactU .formPart form input, section.ContactU .formPart form textarea {
    padding: 24px 16px;
    border-radius: 8px;
    border: 1px solid #DBDBDB;
    direction: rtl;
    font-size: 16px;
    font-weight: 900;
    box-shadow: none;
}

/*************
*************
End Contact Us
**************
**************/

/*************
*************
Blog Part
**************
**************/
section.BLogPart p.Paragraph {
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -1px;
    color: #494949;
}

section.BLogPart .BlogImg {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}


/*************
*************
End Blog Part
**************
**************/


/*************
*************
Footer
**************
**************/
footer.footer {
    background-color: black;
    overflow: hidden;
}

.container {
    overflow: hidden;
}

footer.footer img {
    width: 150px;
}

footer.footer a, footer.footer p {
    font-weight: 800;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.3s ease all;
}

footer.footer a:hover {
    color: #dddddd;
}

footer.footer .socialMedia a {
    font-size: 30px;
    color: #C5B2A3;

}

footer.footer .socialMedia a:hover {
    transform: scale(1.2);
}

/*************
*************
End Footer
**************
**************/
.BackImg {
    z-index: 0 !important;
}

h1, h2, p, a {
    z-index: 1000;
}


/*********************
*********************
Animation Top
*********************
*********************/


.AboutUs .BigImg img, .header .blueRectangle, .header .pinkRectangle, .AboutUs .TwoImageAboutUs .One, .footer .FooterRow p, .footer .FooterRow .socialMedia a, .footer .FooterRow img, .footer .FooterRow a, section.Sponsers .Title, section.Sponsers img, .Values .ParaTitle, .ArtSection .TopPart, .Research .TopPart, .Research .IMGPart, .ArtSection .IMGPart, .Values .Paragraph, .Documentations .Values .Services ul, .Documentations .TopPart, .Documentations .IMGPart, section.Partners, section.Partners .card, .BackImg, .AboutUs .TextRow a, .AboutUs .TextRow p, .AboutUs .TwoImageAboutUs .Two, .AboutUs .TextRow .Title {
    position: relative;
    opacity: 0;
}

header.header .ImagePart, .header .HeaderText {
    opacity: 1;
    position: relative;
    overflow: hidden;
}

.header .HeaderText img {
    width: 0px !important;
    transition: 2s ease all;
    transition-delay: 2s;
    overflow: hidden;
}

header.header.active.again .MiddlePattern img, .header.header.active.again .SidePattern {
    transform: rotate(360deg) !important;
}

.OverflowHidden {
    overflow: hidden;
    position: relative;
}

.header .HeaderText a.ServicesLink {
    transform: translateX(150%);
    transition: 2s ease all !important;
    transition-delay: 2s !important;
}

.header.active .HeaderText a.ServicesLink {
    transform: translateX(0px);
}

.header .HeaderText h1, .header .HeaderText h2 {
    transform: translateY(400%);
    transition: 2s ease all;
    transition-delay: 2s;
}

.header.active .HeaderText h2, .header.active .HeaderText h1 {
    transform: translateY(0);
    opacity: 1;
}

.header.active .HeaderText img {
    width: 45% !important;
}

.header .pinkRectangle {
    transform: translateX(-150%);
    transition: 2s ease all;
    opacity: 1 !important;
}

.header .ImagePart img {
    transform: translateX(-150%);
    transition: 2s ease all;
    opacity: 1;
    transition-delay: 2s;

}

.header.active .pinkRectangle {
    transform: translateX(0);
}

.header.active .ImagePart img {
    transform: translateX(0);
}

.header .blueRectangle {
    transform: translateY(-150%);
    transition: 2s ease all;
    opacity: 1;
}

.header.active .blueRectangle {
    transform: translateY(0);
}

.Values .ParaTitle {
    transition: 1.5s ease all;
    transform: translateX(150px);
}

.Values .Sart, section.BlogCards .carousel {
    transition: 1.5s ease all;
    transform: translateX(150px);
    opacity: 0;
}

.Values.active .ParaTitle, .Values.active .Paragraph, section.BlogCards.active .carousel, .Values.active .Services ul, .Values.active .Sart {
    transform: translateX(0px);
    opacity: 1;
}

.Values .Services ul {
    opacity: 0;
}

.Values .Paragraph, .Values .Services ul {
    transition: 3.5s ease all;
    transform: translateX(150px);
}

.footer .FooterRow img, .footer .FooterRow a {
    transform: translateX(150%);
    transition: 1.5s ease all;
}

.footer .FooterRow .socialMedia a, .footer .FooterRow p {
    transform: translateX(-150%);
    transition: 2.5s ease all;
}

.footer.active .FooterRow img, .footer.active .FooterRow a, .footer.active .FooterRow .socialMedia a, .footer.active .FooterRow p {
    transform: translateX(0);
    opacity: 1;
}

section.Partners {
    transform: translateY(-150px);
    transition: 0.5s ease all;
}

.Documentations .TopPart, .Documentations .IMGPart, .ArtSection .TopPart, .ArtSection .IMGPart, .Research .TopPart, .Research .IMGPart {
    transition: 1.5s ease all;
}

.Documentations .TopPart {
    transform: translateX(-150%);

}

.ArtSection .TopPart, .Research .TopPart {
    transform: translateY(150%);
}

.ArtSection.active .TopPart, .Research.active .TopPart {
    transform: translateX(0);
    opacity: 1;

}

.ArtSection .IMGPart {
    transform: translateX(-150%);

}

.Documentations .IMGPart, .Research .IMGPart {
    transform: translateX(150%);

}

.Documentations.active .TopPart, .Documentations.active .IMGPart, .ArtSection.active .IMGPart, .Research.active .IMGPart {
    transform: translateX(0%);
    opacity: 1;
}


section.Partners .card {
    transform: translateY(150%);
    transition: 2s ease all;

}

section.Partners.active .card {
    transform: translateY(0);
    opacity: 1;
}

section.Partners.active {
    transform: translateY(0);
    opacity: 1;
}

.BigImg img {
    transform: translateX(-150%);
    transition: 3.5s ease all;
}

.header .MiddlePattern.BackImg, .header .SidePattern.BackImg {
    opacity: 1;
}

.header .MiddlePattern img, .header .SidePattern {
    transition: 3s ease all;
}

.header.active .MiddlePattern img, .header.active .SidePattern {
    transform: rotate(180deg);
    opacity: 1;
}

.active .BigImg img, .active .TwoImageAboutUs .One {
    transform: translateX(0);
    opacity: 1;
}

.TwoImageAboutUs .One {
    transform: translateX(150%);
    transition: 3s ease all;

}

section.AboutUs a.ServicesLink {
    transform: translateY(150%);
    transition: 5s ease all;
    opacity: 0;
}

.TwoImageAboutUs .Two {
    transform: translateY(150%);
    transition: 4s ease all;
}

.active .TwoImageAboutUs .Two, .AboutUs.active .TextRow a {
    transform: translateY(0);
    opacity: 1;
}

.AboutUs .TextRow .Title {
    transform: translate(-150%, 150%);
    transition: 4s ease all;
}

.AboutUs.active .TextRow .Title {
    transform: translate(0, 0);
    opacity: 1;
}

.AboutUs .TextRow p {
    transform: translate(-150%, 150%);
    opacity: 0;
    transition: 5s ease all;
}

.AboutUs.active .TextRow p {
    transform: translate(0, 0);
    opacity: 1;
}

section.Sponsers .Title, section.Sponsers img {
    transform: translateY(150%);

}

section.Sponsers .Title {
    transition: 1s ease all;
}

section.Sponsers img {
    transition: 2s ease all;
}

section.Sponsers.active .Title, section.Sponsers.active img {
    transform: translateY(0);
    opacity: 1;
}

.NoBigAnim {
    transform: translateX(0px) !important;
    opacity: 1;
    transition: none;
}

/*********************
*********************
End Top Animation
*********************
*********************/

/*********************
*********************
End Top Animation
*********************
*********************/


/***************************************************************************************
****************************************************************************************
*********************************************** Media***********************************
****************************************************************************************
****************************************************************************************/
@media (min-width: 1400px) {

    header.header .blueRectangle {
        left: 14%;
        width: 200px;
    }

    header.header .ImagePart img {
        width: 75%;
    }
}

@media (max-width: 1400px) {
    header.header .ImagePart img {
        width: 70%;
    }

    header.header .ImagePart .pinkRectangle {
        background: #C5B2A3;
        position: absolute;
        width: 60%;
        height: 130px;
        bottom: 4%;


    }

    header.header .blueRectangle {
        left: 15%;
        width: 200px;
    }

}

@media (max-width: 1200px) {
    header.header .blueRectangle {
        display: none;
    }

    section.BlogCards .card img.card-img-top {
        max-height: 200px;
        min-height: 200px;
    }

    section.BlogCards .card .card-body .card-title {
        font-size: 29px;
    }

    section.BlogCards .card-body .card-text {
        font-size: 18px;
    }

    section.BlogCards .flickity-enabled.is-draggable .flickity-viewport {
        height: 500px !important;
    }

    div#navbarNavDropdown {
        justify-content: center !important;
    }

    header.header .ImagePart img {
        z-index: 100;
    }

    nav.navbar .form-select {
        z-index: 20000;
    }

    header.header {
        height: unset;
    }

    header.header .HeaderText {
        align-items: center !important;
    }

    header.header .HeaderText h1, header.header .HeaderText h2 {
        text-align: center;
    }

    section.AboutUs p {
        width: 75% !important;
    }

    section.AboutUs .TwoImageAboutUs {
        flex-direction: row !important;
        margin-bottom: 25px;
    }

    section.AboutUs .TwoImageAboutUs div {
        width: 50%;
    }

    section.AboutUs .TwoImageAboutUs div img {
        width: 97% !important;
    }

    section.AboutUs .TwoImageAboutUs div.secondImg img {
        float: left;
    }
}

@media (max-width: 991px) {
    nav.navbar .navbar-collapse .navbar-nav .nav-link {
        font-size: 30px;
        margin-bottom: 40px;
        margin-left: 0px;
    }

    section.BlogCards .card .card-body a {
        line-height: 40px;
    }

    section.BlogCards .carousel-cell {
        width: 35vw;
    }

    .navbar-nav {

        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    nav.navbar .navbar-collapse .navbar-nav .nav-link.active .roundedActiveLink, nav.navbar .navbar-collapse .navbar-nav .nav-link:hover .roundedActiveLink {
        width: 15px;
        height: 15px;
        bottom: -50%;
    }

    nav.navbar .sideNavButtons, nav.navbar .navbar-brand {
        z-index: 10000;
    }

    nav.navbar .navbar-collapse {
        position: fixed;
        top: 50%;
        left: 50%;
        background-color: black;
        transform: translate(-50%, -50%);
        width: 100vw;
    }

    section.Documentations .IMGPart img, section.ArtSection .IMGPart img, section.Research .IMGPart img {
        width: 75%;
    }

    footer.footer .FooterRow {
        flex-direction: column;
    }

    footer.footer .footerItem {
        margin-bottom: 10px;
    }

    .ContactUsImg img {
        width: 50% !important;
    }
}

@media (max-width: 767px) {
    nav.navbar .navbar-collapse .navbar-nav .nav-link {
        font-size: 30px;
        margin-bottom: 40px;
    }

    section.AboutUs .Title, section.Sponsers .Title, section.BlogCards .Title {
        font-size: 45px;
    }

    section.BlogCards .carousel-cell {
        width: 45vw;
    }

    section.BlogCards .card .card-body a {
        line-height: 30px;
    }

    section.BlogCards .card .card-body a img {
        width: 50px;
    }

    section.BlogCards .flickity-enabled.is-draggable .flickity-viewport {
        height: 452px !important;
    }

    section.BlogCards .card img.card-img-top {
        max-height: 170px;
        min-height: 170px;
    }

    section.ContactU .formPart form {
        width: 90%;
    }

    header.header .HeaderText h1 {
        font-size: 41px;
    }

    section.AboutUs p {
        width: 100% !important;
    }

    section.Partners .card .card-body .card-text {
        font-size: 13px;
        line-height: 20px;
    }

    section.Partners .card .card-body a {
        font-size: 18px;
    }

    section.Partners .card .card-body .card-title {
        font-size: 30px;
    }

    section.Partners .card .card-body hr {
        margin: 5px 0px;
    }

    section.Documentations .IMGPart img, section.ArtSection .IMGPart img, section.Research .IMGPart img {
        width: 50%;
    }

    section.Partners .card .card-body a img {
        width: 40px;
    }

    .LogoSocialFooter {
        flex-direction: column;
    }

    .socialMedia {
        margin-right: 0 !important;
    }
}


@media (max-width: 575px) {
    header.header .HeaderText h1 {
        font-size: 37px;
        line-height: 50px;
    }

    section.BlogCards .carousel-cell {
        width: 52vw;
    }

    section.BlogCards .card .card-body .card-title {
        font-size: 24px;
    }

    section.BlogCards .card-body .card-text {
        font-size: 16px;
    }

    section.BlogCards .flickity-enabled.is-draggable .flickity-viewport {
        height: 400px !important;
    }

    section.BlogCards .card .card-body a {
        font-size: 20px;
        line-height: 25px;
    }

    section.BlogCards .card .card-body a img {
        width: 40px;
    }

    section.AboutUs .Title, section.Sponsers .Title, section.BlogCards .Title {
        font-size: 40px;
    }

    section.BlogCards .flickity-page-dots .dot.is-selected {
        width: 20px;
        height: 20px;
    }

    section.BlogCards .flickity-page-dots .dot {
        width: 16px;
        height: 16px;
    }

    section.BlogCards .card img.card-img-top {
        max-height: 150px;
        min-height: 150px;
    }

    header.header .HeaderText h2 {
        font-size: 18px;
    }

    section.AboutUs .Title, section.Sponsers .Title {
        font-size: 40px;
    }

    section.AboutUs p, section.Documentations p.Paragraph, section.Documentations .Services ul li, section.ArtSection p.Paragraph, section.ArtSection .Services ul li, section.Research p.Paragraph, section.Research .Services ul li {
        font-size: 15px;
        line-height: 20px;
    }

    section.AboutUs a.ServicesLink, section.AboutUs .ImgRow {
        margin-top: 0px !important;
    }

    section.Documentations .Values .ParaTitle, section.ArtSection .Values .ParaTitle, section.Research .Values .ParaTitle {
        font-size: 25px;
    }

    nav.navbar .navbar-collapse .navbar-nav .nav-link {
        font-size: 25px;
        margin-bottom: 45px;
    }

    section.Partners .card .card-body a {
        font-size: 24px;
    }

    section.Partners .card .card-body .card-text {
        font-size: 17px;
        line-height: 22px;
    }

    section.Partners .card .card-body .card-title {
        font-size: 30px;
    }

    section.Partners .card .card-body a img {
        width: unset;
    }

    section.Partners .card {
        width: 75%;
        margin: auto;
    }
}