@font-face {
    font-family: HT;
    src: url(../fonts/HTBaybarsDisplay-Regular.otf);
}

body {
    direction: rtl;
    font-family: HT;
    overflow-x: hidden;

}



/*************
*************
Navar
**************
**************/
nav.navbar {
    background-color: black;
}

nav.navbar .navbar-collapse .navbar-nav .nav-link {
    color: #DADADA;
    margin-left: 20px;
    font-size: 16px;
    line-height: 24px;

}

nav.navbar .navbar-collapse .navbar-nav .nav-link.active {
    font-weight: 600;
}

nav.navbar .navbar-collapse .navbar-nav .nav-link.active, nav.navbar .navbar-collapse .navbar-nav .nav-link:hover, nav.navbar .form-select:hover {
    color: white;
    position: relative;
    cursor: pointer;
}

nav.navbar .navbar-collapse .navbar-nav .nav-link.active .roundedActiveLink, nav.navbar .navbar-collapse .navbar-nav .nav-link:hover .roundedActiveLink {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #C5B2A3;
    position: absolute;
    left: 50%;
    bottom: -5%;
    transform: translateX(-50%);
}

nav.navbar .form-select {
    width: fit-content;
    background-color: transparent;
    font-size: 16px;
    line-height: 24px;
    border: none;
    color: #DADADA;
    box-shadow: none;


}

nav.navbar .form-select option {
    color: black;
}

nav.navbar .navbar-toggler {
    color: white;
    border: none;
    box-shadow: none;
    font-size: 24px;
}

nav.navbar .sideNavButtons select {
    opacity: 0;
    visibility: hidden;
}

/*************
*************
End Navar
**************
**************/


/*************
*************
Header
**************
**************/
header.header {
    background-image: url(../images/Banner\ Bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;
    position: relative;
}

header.header .MiddlePattern {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header.header .MiddlePattern.BigPatternBanner {
    width: 50%;
}

header.header .SidePattern {
    position: absolute;
    bottom: 5%;
    right: -10%;
}

header.header .HeaderText img {
    mix-blend-mode: lighten;
}

header.header .HeaderText h1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 59px;
    color: white;
    margin: 30px 0;
}

header.header .HeaderText h1 span {
    color: #C5B2A3;
}

header.header .HeaderText h2 {
    font-size: 24px;
    line-height: 150%;

    font-weight: 800;
    color: #DADADA;
}

header.header .HeaderText a.ServicesLink, section.AboutUs a.ServicesLink {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #131313;
    background: #C5B2A3;
    gap: 8px;
    text-decoration: none;
    padding: 15px 35px;
    margin-top: 20px;
    transition: 0.3s ease all;
    overflow: hidden;
}

header.header .HeaderText a.ServicesLink svg {
    transition: 0.5s ease all;

}

header.header .HeaderText a:hover {
    background-color: white;
    color: #C5B2A3;


}

header.header .HeaderText a:hover svg {
    transform: translateX(-300%);
}

header.header .ImagePart {
    position: relative;
}

header.header .ImagePart img {
    z-index: 100;
    width: 90%;
    z-index: 2050;

}

header.header .ImagePart .pinkRectangle {
    background: #C5B2A3;
    position: absolute;
    width: 73%;
    height: 130px;
    bottom: 4%;

    left: 0%;

}

header.header .blueRectangle {
    background: #4762B3;
    position: absolute;
    width: 230px;
    height: 95%;
    top: 0%;
    left: 15%;
    z-index: 2000;
}

/*************
*************
end Header
**************
**************/

/*************
*************
About Us
**************
**************/
section.AboutUs {
    position: relative;
}

section.AboutUs .Title, section.Sponsers .Title {
    font-weight: 900;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #131313;

}

section.AboutUs p {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #494949;
    width: 66%;
}

section.AboutUs a.ServicesLink {
    background-color: transparent;
    color: #4762B3;
}

section.AboutUs a.ServicesLink svg {
    transition: 2s ease all;
}

section.AboutUs a.ServicesLink:hover svg {
    transform: translateX(-100vw);
}

section.AboutUs .ImgRow {
    z-index: 10;
    position: relative;
}

section.AboutUs .SidePattern {
    position: absolute;
    right: -6%;
    top: 15%;
    z-index: 0;
}

section.AboutUs .SidePatternTwo {
    position: absolute;
    left: 6%;
    top: 25%;
    z-index: 0;
}

/*************
*************
end About Us
**************
**************/

/*************
*************
Our Partners
**************
**************/
section.Partners {
    background: #C5B2A3;
}

section.Partners .card {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.07);
    border-radius: none;
    border: none;
}

section.Partners .card .card-body .card-title {
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    color: #131313;
    padding-right: 20%;
}

section.Partners .card .card-body .card-text {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #494949;

}

section.Partners .card .card-body hr {
    background-color: #b7b7b7;
    border: 1px solid #b7b7b7;

    margin: 30px 0px;

}

section.Partners .card .card-body a {
    font-weight: 800;
    font-size: 24px;
    line-height: 150%;
    color: #494949;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

section.Partners .card .card-body a img {
    transition: transform .7s ease-in-out;

}

section.Partners .card .card-body a:hover img {
    transform: rotate(-360deg);
}

/*************
*************
End Our Partners
**************
**************/


/*************
*************
Documentations
**************
**************/
section.Documentations .IMGPart img, section.ArtSection .IMGPart img, section.Research .IMGPart img {
    width: 100%;
}

section.Documentations p.Paragraph, section.Documentations .Services ul li, section.ArtSection p.Paragraph, section.ArtSection .Services ul li, section.Research p.Paragraph, section.Research .Services ul li {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #494949;
    margin: auto;
    padding-right: 47px;

}

section.Documentations .TopPart p.Paragraph, section.ArtSection .TopPart p.Paragraph, section.Research .TopPart p.Paragraph {
    width: 75%;
    padding-right: 0px;
    text-align: center;

}

section.Documentations .Values .ParaTitle, section.ArtSection .Values .ParaTitle, section.Research .Values .ParaTitle {
    font-weight: 800;
    font-size: 32px;
    line-height: 150%;
    text-align: right;
}

section.Documentations .Services ul, section.ArtSection .Services ul, section.Research .Services ul {
    padding-right: 70px;

}

section.Documentations .Services ul li, section.ArtSection .Services ul li, section.Research .Services ul li {
    padding-right: 0px;
}

/*************
*************
End Documentations
**************
**************/

/*************
*************
Sponsers
**************
**************/
section.Sponsers {
    overflow-x: hidden;
}

section.Sponsers .Pattern1 {
    position: absolute;
    top: -20%;
    right: -2%;
    z-index: 0;

}

section.Sponsers .Pattern2 {
    position: absolute;
    top: -20%;
    left: -2%;
    z-index: 0;
}

section.Sponsers .SponsersImg {
    z-index: 100;
    position: relative;
}

section.Sponsers .SponserDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.Sponsers .SponserDiv img {
    width: 50%;
}

section.Sponsers .SponserDiv.AnovaImg img {
    width: 80%;
}

/*************
*************
End Sponsers
**************
**************/


/*************
*************
Footer
**************
**************/
footer.footer {
    background-color: black;
}

footer.footer img {
    width: 150px;
}

footer.footer a, footer.footer p {
    font-weight: 800;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.3s ease all;
}

footer.footer a:hover {
    color: #dddddd;
}

footer.footer .socialMedia a {
    font-size: 24px;
    color: #C5B2A3;
}

footer.footer .socialMedia a:hover {
    transform: scale(1.2);
}

/*************
*************
End Footer
**************
**************/
.BackImg {
    z-index: 0 !important;
}

h1, h2, p, a {
    z-index: 1000;
}


/*********************
*********************
Animation
*********************
*********************/
/* .scroller {
    overflow-x: hidden;
  height: 100vh !important;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroller section {
  scroll-snap-align: start;
} */
.AboutUs .BigImg img, .AboutUs .TwoImageAboutUs .One,section.Sponsers .Title ,section.Sponsers img,.Values .ParaTitle,.ArtSection  .TopPart,.Research .TopPart,.Research .IMGPart,.ArtSection .IMGPart, .Values .Paragraph,.Documentations .Values .Services ul,.Documentations .TopPart, .Documentations .IMGPart, section.Partners, section.Partners .card, .BackImg, .AboutUs .TextRow a, .AboutUs .TextRow p, .AboutUs .TwoImageAboutUs .Two, .AboutUs .TextRow .Title {
    position: relative;
    opacity: 0;
}
.Values .ParaTitle {
    transition: 1.5s ease all;
    transform: translateX(150px);
}
.Values.active .ParaTitle, .Values.active .Paragraph, .Values.active .Services ul{
    transform: translateX(0px);
    opacity: 1;
}
.Values .Services ul{
    opacity: 0;
}
 .Values .Paragraph, .Values .Services ul{
    transition: 3.5s ease all;
    transform: translateX(150px);
}

section.Partners {
    transform: translateY(-150px);
    transition: 0.5s ease all;
}

.Documentations .TopPart, .Documentations .IMGPart,.ArtSection .TopPart, .ArtSection .IMGPart ,.Research .TopPart,.Research .IMGPart {
    transition: 1.5s ease all;
}
.Documentations .TopPart{
    transform: translateX(-150%);

}
.ArtSection .TopPart,.Research .TopPart{
    transform: translateY(150%);
}
.ArtSection.active .TopPart,.Research.active .TopPart{
    transform: translateX(0);
    opacity: 1;

}
.ArtSection .IMGPart {
    transform: translateX(-150%);

}
.Documentations .IMGPart,.Research .IMGPart {
    transform: translateX(150%);

}
.Documentations.active .TopPart,.Documentations.active .IMGPart,.ArtSection.active .IMGPart,.Research.active .IMGPart{
    transform: translateX(0%);
    opacity: 1;
}


section.Partners .card {
    transform: translateY(150%);
    transition: 2s ease all;

}

section.Partners.active .card {
    transform: translateY(0);
    opacity: 1;
}

section.Partners.active {
    transform: translateY(0);
    opacity: 1;
}

.BigImg img {
    transform: translateX(-150%);
    transition: 3.5s ease all;
}

.BackImg {
    transition: 3s ease all;
}

.active .BackImg {
    transform: rotate(360deg);
    opacity: 1;
}

.active .BigImg img, .active .TwoImageAboutUs .One {
    transform: translateX(0);
    opacity: 1;
}

.TwoImageAboutUs .One {
    transform: translateX(150%);
    transition: 3s ease all;

}

section.AboutUs a.ServicesLink {
    transform: translateY(150%);
    transition: 5s ease all;
    opacity: 0;
}

.TwoImageAboutUs .Two {
    transform: translateY(150%);
    transition: 4s ease all;
}

.active .TwoImageAboutUs .Two, .AboutUs.active .TextRow a {
    transform: translateY(0);
    opacity: 1;
}

.AboutUs .TextRow .Title {
    transform: translate(-150%, 150%);
    transition: 4s ease all;
}

.AboutUs.active .TextRow .Title {
    transform: translate(0, 0);
    opacity: 1;
}

.AboutUs .TextRow p {
    transform: translate(-150%, 150%);
    opacity: 0;
    transition: 5s ease all;
}

.AboutUs.active .TextRow p {
    transform: translate(0, 0);
    opacity: 1;
}
section.Sponsers .Title ,section.Sponsers img {
    transform: translateY(150%);

}
section.Sponsers .Title{
    transition: 1s ease all;
}
section.Sponsers img{
    transition:2s ease all ;
}
section.Sponsers.active .Title ,section.Sponsers.active img{
    transform: translateY(0);
    opacity: 1;
}
.NoBigAnim {
    transform: translateX(0px) !important;
    opacity: 1;
    transition: none;
}

/*********************
*********************
End Animation
*********************
*********************/



/***************************************************************************************
****************************************************************************************
*********************************************** Media***********************************
****************************************************************************************
****************************************************************************************/
@media (min-width: 1400px) {

    header.header .blueRectangle {
        left: 14%;
        width: 200px;
    }

    header.header .ImagePart img {
        width: 75%;
    }
}

@media (max-width: 1400px) {
    header.header .ImagePart img {
        width: 70%;
    }

    header.header .ImagePart .pinkRectangle {
        background: #C5B2A3;
        position: absolute;
        width: 60%;
        height: 130px;
        bottom: 4%;


    }

    header.header .blueRectangle {
        left: 15%;
        width: 200px;
    }

}

@media (max-width: 1200px) {
    header.header .blueRectangle {
        display: none;
    }

    div#navbarNavDropdown {
        justify-content: center !important;
    }

    header.header .ImagePart img {
        z-index: 100;
    }

    nav.navbar .form-select {
        z-index: 20000;
    }

    header.header {
        height: unset;
    }

    header.header .HeaderText {
        align-items: center !important;
    }

    header.header .HeaderText h1, header.header .HeaderText h2 {
        text-align: center;
    }

    section.AboutUs p {
        width: 75% !important;
    }

    section.AboutUs .TwoImageAboutUs {
        flex-direction: row !important;
        margin-bottom: 25px;
    }

    section.AboutUs .TwoImageAboutUs div {
        width: 50%;
    }

    section.AboutUs .TwoImageAboutUs div img {
        width: 97% !important;
    }

    section.AboutUs .TwoImageAboutUs div.secondImg img {
        float: left;
    }
}

@media (max-width: 991px) {
    nav.navbar .navbar-collapse .navbar-nav .nav-link {
        font-size: 30px;
        margin-bottom: 40px;
        margin-left: 0px;
    }

    .navbar-nav {

        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    nav.navbar .navbar-collapse .navbar-nav .nav-link.active .roundedActiveLink, nav.navbar .navbar-collapse .navbar-nav .nav-link:hover .roundedActiveLink {
        width: 15px;
        height: 15px;
        bottom: -50%;
    }

    nav.navbar .sideNavButtons, nav.navbar .navbar-brand {
        z-index: 10000;
    }

    nav.navbar .navbar-collapse {
        position: fixed;
        top: 50%;
        left: 50%;
        background-color: black;
        transform: translate(-50%, -50%);
        width: 100vw;
    }

    section.Documentations .IMGPart img, section.ArtSection .IMGPart img, section.Research .IMGPart img {
        width: 75%;
    }

    footer.footer .FooterRow {
        flex-direction: column;
    }

    footer.footer .footerItem {
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {
    nav.navbar .navbar-collapse .navbar-nav .nav-link {
        font-size: 30px;
        margin-bottom: 40px;
    }

    header.header .HeaderText h1 {
        font-size: 41px;
    }

    section.AboutUs p {
        width: 100% !important;
    }

    section.Partners .card .card-body .card-text {
        font-size: 13px;
        line-height: 20px;
    }

    section.Partners .card .card-body a {
        font-size: 18px;
    }

    section.Partners .card .card-body .card-title {
        font-size: 30px;
    }

    section.Partners .card .card-body hr {
        margin: 5px 0px;
    }

    section.Documentations .IMGPart img, section.ArtSection .IMGPart img, section.Research .IMGPart img {
        width: 50%;
    }

    section.Partners .card .card-body a img {
        width: 40px;
    }
}


@media (max-width: 575px) {
    header.header .HeaderText h1 {
        font-size: 37px;
        line-height: 50px;
    }

    header.header .HeaderText h2 {
        font-size: 18px;
    }

    section.AboutUs .Title, section.Sponsers .Title {
        font-size: 40px;
    }

    section.AboutUs p, section.Documentations p.Paragraph, section.Documentations .Services ul li, section.ArtSection p.Paragraph, section.ArtSection .Services ul li, section.Research p.Paragraph, section.Research .Services ul li {
        font-size: 15px;
        line-height: 20px;
    }

    section.AboutUs a.ServicesLink, section.AboutUs .ImgRow {
        margin-top: 0px !important;
    }

    section.Documentations .Values .ParaTitle, section.ArtSection .Values .ParaTitle, section.Research .Values .ParaTitle {
        font-size: 25px;
    }

    nav.navbar .navbar-collapse .navbar-nav .nav-link {
        font-size: 25px;
        margin-bottom: 45px;
    }

    section.Partners .card .card-body a {
        font-size: 24px;
    }

    section.Partners .card .card-body .card-text {
        font-size: 17px;
        line-height: 22px;
    }

    section.Partners .card .card-body .card-title {
        font-size: 30px;
    }

    section.Partners .card .card-body a img {
        width: unset;
    }

    section.Partners .card {
        width: 75%;
        margin: auto;
    }
}